<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>Modern Login Page | Tanomi</title>
</head>

<body>
    <div class="container" id="container" style="width: 25%;">
            <form>
                <h1>Forgot Your Password?</h1>
                <span>Enter your email and we'll send you instructions to reset your password</span>
                <input type="email" placeholder="Enter Your Email">
                <button routerLink="/sign-in">Send Reset Link</button>
            </form>
    </div>
    <script>
      const container = document.getElementById('container');
      const registerBtn = document.getElementById('register');
      const loginBtn = document.getElementById('login');

      registerBtn.addEventListener('click', () => {
          container.classList.add("active");
      });

      loginBtn.addEventListener('click', () => {
          container.classList.remove("active");
      });
    </script>
</body>
</html>